* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff");
}
body,
html {
  margin: 0;
  height: 100%;
}
#page-landing {
  height: 100%;
}
main {
  background-color: white;
  width: 90%;
  margin: 3% auto 5% auto;
  padding: 1% 1%;
}
